name: Helm Lint

on:
  push:
    branches:
      - 'dev'
  pull_request:
    branches:
      - 'dev'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.1.0
      
      - name: Fetch cached dependencies charts
        id: cache-charts
        uses: actions/cache/restore@v4
        with:
          path: servarr/charts
          key: dep-charts-${{ hashFiles('servarr/Chart.yaml') }}

      - name: Helm Dependency update
        if: ${{ steps.cache-charts.outputs.cache-hit != 'true' }}
        run: helm dependency update servarr/ --debug
      
      - name: Save dependencies charts in the cache
        if: ${{ steps.cache-charts.outputs.cache-hit != 'true' }}
        id: cache-charts-save
        uses: actions/cache/save@v4
        with:
          path: servarr/charts
          key: dep-charts-${{ hashFiles('servarr/Chart.yaml') }}

      - name: Helm Lint
        run: helm lint servarr/ --debug -f .github/ci/ci-values.yaml
